{# app/templates/estoque/adicionar_produto.html #}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post">
        {{ form.hidden_tag() }} {# Campo oculto para proteção CSRF #}

        <div class="mb-3">
            {{ form.code.label(class="form-label") }}
            {{ form.code(class="form-control") }}
            {% for error in form.code.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
            {% for error in form.price.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.quantity_in_stock.label(class="form-label") }}
            {{ form.quantity_in_stock(class="form-control") }}
            {% for error in form.quantity_in_stock.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

         <div class="mb-3">
            {{ form.minimum_stock.label(class="form-label") }}
            {{ form.minimum_stock(class="form-control") }}
            {% for error in form.minimum_stock.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.category.label(class="form-label") }}
            {# O QuerySelectField renderiza um <select> automaticamente #}
            {{ form.category(class="form-select") }}
            {% for error in form.category.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.supplier.label(class="form-label") }}
            {# O QuerySelectField renderiza um <select> automaticamente #}
            {{ form.supplier(class="form-select") }}
            {% for error in form.supplier.errors %}
                <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary") }}

    </form>
{% endblock %}