{# app/templates/estoque/produtos.html #}

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {# Adicionar um botão para adicionar novo produto #}
    <a href="{{ url_for('estoque.adicionar_produto') }}" class="btn btn-primary mb-3">Adicionar Novo Produto</a>

    {# Tabela de produtos ... #}
    <table id="produtosTable" class="table table-striped table-bordered" style="width:100%">
    ...
    </table>
{% endblock %}

{% block scripts %}
...
{% endblock %}